/* Just-the-docs overrides and custom styles */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Sen:wght@400;700;800");



@import "./code";
@import "../color_schemes/alloverse.scss";

body {
  font-family: "Open Sans", "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
  color: $allo-text-color-dark;
}

h1,
h2,
h3,
h4,
.text-delta {
  font-family: "Sen", "Segoe UI", sans-serif;
  color: $allo-text-color-dark;
  font-weight: 700;
  letter-spacing: -0.5px;
}

.main-content {
  h1 {
    font-size: 36px!important;;
    font-weight: 800;
    letter-spacing: -1px;
    margin-bottom: 24px;
  }
  // h2 {
  //   font-size: 30px!important;
  //   color: $allo-text-color-dark-90;
  //   letter-spacing: -0.8px;
    
  //   margin-top: 48px;
  //   margin-bottom: 6px;
  // }
  // h3 {
  //   font-size: 24px!important;
    
  //   margin-top: 32px;
  //   margin-bottom: 6px;
  // }
  // h4 {
  //   font-size: 18px!important;
  //   text-transform: none;

  //   margin-top: 30px;
  //   margin-bottom: 6px;
  // }
}

pre {
  white-space: pre-wrap;
}

code {
  padding: 2px 4px;
}

// Different link color for children of lists in the sidebar
.nav-list .nav-list-item>.nav-list .nav-list-item .nav-list-link {
  color: #0c2b48;
}

// Tables for arguments & returns
.table-wrapper {
  table {
    border-collapse: collapse;

    thead {
      text-align: left;
      th {
        background: $allo-dark-gray-30;
      }
    }
  
    td {
      border-bottom-color: $border-color;
    }

  }
}

.returns-nothing {
  color: $allo-dark-gray;
  font-style: italic;
}

// Print-only styles.
@media print {
  .side-bar,
  .page-header {
    display: none;
  }
  .main-content {
    max-width: auto;
    margin: 1em;
  }
}
