/*
  Style variable overrides to match Alloverse style

  List of changeable variables:
  https://github.com/pmarsceill/just-the-docs/blob/master/_sass/support/_variables.scss 
*/


// Variables

$allo-light-blue: #EAF6FF;
$allo-dark-blue: #CDEBFA;
$allo-light-gray-30: #EFF1F6;
$allo-dark-gray: #A9B6D1;
$allo-dark-gray-30: #E5E9F1;

$allo-text-color-dark: #0c2b48;
$allo-text-color-dark-90: #24405A;

$link-color: $blue-200;
$nav-child-link-color: $blue-200;

$body-text-color: $allo-text-color-dark;
$body-heading-color: $allo-text-color-dark;

$border-color: rgba(12, 43, 72, 0.1); // 10% of text-color-dark

$sidebar-color: $allo-light-blue;

// Hover background color for clickable items in the sidebar
$feedback-color: $allo-dark-blue;